.creatingForm {
    margin: 20px 20px 20px 20px;
    border: 3px solid gray;
    border-radius: 5px;
}

.margins {
    margin: 4px 20px;
}

.buttons-block {
    margin: 10px 20px;
    text-align: right;
}