<form #creatingForm="ngForm" class="creatingForm">
    <h3 class="text-center">{{ stationOriginal.operator }}</h3>
    <div class="form-group row mb-4 margins">
        <label class="col-sm-4  col-form-label">Тип правки</label>
        <select class="form-control col-sm-8" [(ngModel)]="typeOfEditing" name="type" (change)="resetChanges()">
            <option>{{ editInfoType }}</option>
            <option>{{ editSocketType }}</option>
            <option>{{ deleting }}</option>
        </select>
    </div>

    <div *ngIf="typeOfEditing === editInfoType">
        <div class="form-group row mb-4 margins">
            <label class="col-sm-4 col-form-label">Оператор</label>
            <div class="col-sm-8 pl-0 pr-0">
                <input name="operator" class="form-control" autocomplete="off" required maxlength="30"
                    #operator="ngModel" [(ngModel)]="stationForEdit.operator">
                <div class="alert alert-danger" [hidden]="operator.valid || operator.pristine">Поле пустое.</div>
            </div>
        </div>
        <div class="form-group row mb-4 margins">
            <label class="col-sm-4 col-form-label">Описание</label>
            <input name="description" class="form-control col-sm-8" autocomplete="off" required maxlength="30"
                #description="ngModel" [(ngModel)]="stationForEdit.description">
        </div>
        <div class="form-group row mb-4 margins">
            <label class="col-sm-4 col-form-label">Сайт</label>
            <input name="website" class="form-control col-sm-8" autocomplete="off" required maxlength="30"
                #website="ngModel" [(ngModel)]="stationForEdit.website">
        </div>
    </div>

    <div *ngIf="typeOfEditing === editSocketType">
        <div class="form-group row mb-4 margins">
            <label class="col-sm-4 col-form-label">Сокет тип 2</label>
            <input type="number" min="0" name="socket_type2" class="form-control col-sm-8" autocomplete="off" required
                #socket_type2="ngModel" [(ngModel)]="stationForEdit.socket_type2">
        </div>
        <div class="form-group row mb-4 margins">
            <label class="col-sm-4 col-form-label">Сокет yazaki</label>
            <input type="number" min="0" name="socket_yazaki" class="form-control col-sm-8" autocomplete="off" required
                #socket_yazaki="ngModel" [(ngModel)]="stationForEdit.socket_yazaki">
        </div>
        <div class="form-group row mb-4 margins">
            <label class="col-sm-4 col-form-label">Сокет schuko</label>
            <input type="number" min="0" name="socket_schuko" class="form-control col-sm-8" autocomplete="off" required
                #socket_schuko="ngModel" [(ngModel)]="stationForEdit.socket_schuko">
        </div>
    </div>

    <div *ngIf="typeOfEditing === deleting">
        <div class="form-group row mb-4 margins">
            <label class="col-sm-4 col-form-label">Причина удаления</label>
            <div class="col-sm-8 pl-0 pr-0">
                <textarea name="reason" class="form-control" autocomplete="off" required maxlength="40"
                    #reason="ngModel" [(ngModel)]="reasonOfDeleting"></textarea>
                <div class="alert alert-danger" [hidden]="reason.valid || reason.pristine">Поле пустое.</div>
            </div>
        </div>
    </div>
    <div class="buttons-block margins">
        <button type="reset" class="btn btn-secondary mr-2" (click)="goBack()">Отменить</button>
        <button type="button" class="btn btn-secondary" [disabled]="!canSend()" (click)="sendRequest()">Отправить</button>
    </div>
</form>
