<table>
    <tr>
        <th>Id</th>
        <th>Id объекта</th>
        <th>Тип заявки</th>
        <th>Данные</th>
    </tr>
    <tr *ngFor="let request of requests">
        <td>{{ request.id }}</td>
        <td>{{ request.object_id }}</td>
        <td>{{ request.type }}</td>
        <td>{{ showObject(request.data) }}</td>
    </tr>
</table>
