<div id="header">Станции зарядки электротранспорта</div>
<div class="switcher">
  <button class="mr-3" routerLink="/all-stations">Все станции</button>
  <button routerLink="/requests">Заявления</button>
</div>
<router-outlet></router-outlet>