#header {
    width: 100%;
    height: 100%;
    background: #2b9ad0;
    text-align: center;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    color: white;
    font-family: Comic Sans MS;
}

.switcher {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #e8d029;
}