body {
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS;
}

.mr-3 {
    margin-right: 3px;
}

button {
    background-color: #2b9ad0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Comic Sans MS;
    cursor: pointer;
}

table {
    font-family: "Comic Sans MS", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th {
    background: #2b9ad0;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
    padding: 10px 20px;
}

 td a { 
    display: block;
 }
