<table>
    <tr>
        <th>Id</th>
        <th>Оператор</th>
        <th>Описание</th>
        <th>Website</th>
        <th>socket:type2</th>
        <th>socket:yazaki</th>
        <th>socket:schuko</th>
    </tr>
    <tr *ngFor="let station of stations">
        <td><a routerLink="/all-stations/{{ station.id }}">{{ station.id }}</a></td>
        <td><a routerLink="/all-stations/{{ station.id }}">{{ station.operator }}</a></td>
        <td><a routerLink="/all-stations/{{ station.id }}">{{ station.description }}</a></td>
        <td><a routerLink="/all-stations/{{ station.id }}">{{ station.website }}</a></td>
        <td><a routerLink="/all-stations/{{ station.id }}">{{ station.socket_type2 }}</a></td>
        <td><a routerLink="/all-stations/{{ station.id }}">{{ station.socket_yazaki }}</a></td>
        <td><a routerLink="/all-stations/{{ station.id }}">{{ station.socket_schuko }}</a></td>
    </tr>
</table>

<div id="mapid"></div>
